Repository gshiva/pygptcourse: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

pre-commit fixes for all project files
  .flake8
  .gitattributes
  .github/ISSUE_TEMPLATE/user-story.md
  .vscode/settings.json
  docs/notes_and_utils/autogpt/best_practices_dependencies.txt
  docs/notes_and_utils/autogpt/best_practices_deps.txt
  docs/notes_and_utils/autogpt/best_practices_git.txt
  docs/notes_and_utils/autogpt/chapter1.md
  docs/notes_and_utils/autogpt/chapter10.md
  docs/notes_and_utils/autogpt/chapter11.md
  docs/notes_and_utils/autogpt/chapter12.md
  docs/notes_and_utils/autogpt/chapter13.md
  docs/notes_and_utils/autogpt/chapter14.md
  docs/notes_and_utils/autogpt/chapter15.md
  docs/notes_and_utils/autogpt/chapter16.md
  docs/notes_and_utils/autogpt/chapter17.md
  docs/notes_and_utils/autogpt/chapter18.md
  docs/notes_and_utils/autogpt/chapter19.md
  docs/notes_and_utils/autogpt/chapter2.md
  docs/notes_and_utils/autogpt/chapter20_content.md
  docs/notes_and_utils/autogpt/chapter20_exercises.md
  docs/notes_and_utils/autogpt/chapter20_improved_code.py
  docs/notes_and_utils/autogpt/chapter20_improved_content.md
  docs/notes_and_utils/autogpt/chapter20_improved_content.txt
  docs/notes_and_utils/autogpt/chapter3.md
  docs/notes_and_utils/autogpt/chapter4.md
  docs/notes_and_utils/autogpt/chapter5.md
  docs/notes_and_utils/autogpt/chapter6.md
  docs/notes_and_utils/autogpt/chapter7.md
  docs/notes_and_utils/autogpt/chapter8.md
  docs/notes_and_utils/autogpt/chapter9.md
  docs/notes_and_utils/autogpt/chapter_2.txt
  docs/notes_and_utils/autogpt/chapter_2_orig.txt
  docs/notes_and_utils/notes-OKR.txt
Due: pytest

Synchronize tracker.py with main.py for SOLID Principles Compliance
  src/pygptcourse/tracker.py
Due: mypy, pytest

Added a basic test
  tests/test_basic.py
Due: mypy, pytest

SOLID-SRP: Created Face Detector class
  src/pygptcourse/face_detector.py
  src/pygptcourse/main.py
  src/pygptcourse/tracker.py
Due: mypy, pytest

Refined Camera Interaction and Control Mechanisms
  src/pygptcourse/camera_control.py
  src/pygptcourse/camera_manager.py
  src/pygptcourse/main.py
  src/pygptcourse/tracker.py
Due: mypy, pytest

Extensible Launcher: SOLID Open/Close Principle, Unified Simulated/Real Modes
  .pre-commit-config.yaml
  README.md
  src/pygptcourse/camera_control.py
  src/pygptcourse/main.py
  src/pygptcourse/tracker.py
  src/pygptcourse/tshirt_launcher.py
Due: mypy, pytest

Fixing yaml lint warnings
  .pre-commit-config.yaml
Due: none

Fixed markdown linting
  README.md
Due: none

Removed the duplicate code rationale
  README.md
Due: none

Remove isort error on GHA
  src/pygptcourse/main.py
Due: mypy, pytest

Added the First Test for main.py with Extensive Mocking
  src/pygptcourse/camera_control.py
  src/pygptcourse/face_detector.py
  src/pygptcourse/file_system_image_loader.py
  src/pygptcourse/main.py
  tests/test_main.py
Due: mypy, pytest

Fix the isort problem
  tests/test_main.py
Due: mypy, pytest

Addressed deprecation warnings in pytest and optimizing the mocking strategy in unit tests.
  pyproject.toml
  src/pygptcourse/main.py
  tests/test_main.py
Due: mypy, pytest

Fixes the need for adding src/pygptcourse to PYTHONPATH to get pytest to run
  tests/test_main.py
Due: mypy, pytest

Refactor Camera Usage for Improved Testing Infrastructure
  src/pygptcourse/main.py
  tests/resources/shiva_init_face.jpg
  tests/test_main.py
Due: mypy, pytest

Add Unit and Integration Tests for Detection and Control (#39)
  tests/test_integration_camera.py
  tests/test_system_application.py
  tests/test_unit_face_detector.py
Due: mypy, pytest

Completes Unit,Integration, System and Acceptance Tests
  README.md
  acceptance_test/acceptance_test.py
  tests/test_unit_face_detector.py
Due: mypy, pytest

Fixed linting issues in README.md
  README.md
Due: none

Documentation for `poetry install` on RPI
  README.md
Due: none

Added ci GHA workflow
  .github/workflows/ci.yml
Due: none

Fixed lint issue
  README.md
Due: none

Run ci workflow on push also
  .github/workflows/ci.yml
Due: none

Added support for coverage
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: none

Added pytest-cov for easier coverage ci run
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: none

Fixed typo for --cov directory
  .github/workflows/ci.yml
Due: none

Publish the coverage report to GitHub
  .github/workflows/ci.yml
Due: none

Upgraded upload-artifact step to the latest version
  .github/workflows/ci.yml
Due: none

Added test status badge
  README.md
Due: none

Added ability to run the ci workflow manually
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  4277d4fc9be4cce8a66d324d8a424aa6c4bc143f
Due: none

Notes added by 'git notes edit'
  4277d4fc9be4cce8a66d324d8a424aa6c4bc143f
Due: none

Use self-hosted runner for CD
  .github/workflows/cd.yml
Due: none

Implement Robust CD Pipeline Using Self-Hosted Runner and Systemd Service
  .github/workflows/cd.yml
  README.md
  docs/images/secure_githubworkflows_for_self_hosted_runners.png
Due: none

Refactor CD Workflow for USB Access and Prepare for Future Hardening
  .github/workflows/cd.yml
Due: none

Fixing CD runtime errors
  .github/workflows/cd.yml
Due: none

Trying with a different python version 3.11.4
  .github/workflows/cd.yml
Due: none

Checking if python is available. If yes then proceed
  .github/workflows/cd.yml
Due: none

Added the full path to the installed poetry
  .github/workflows/cd.yml
Due: none

Updated to the latest opencv-python package available on piwheels.org for Raspbian Bulls eye release
  poetry.lock
  pyproject.toml
Due: none

Ensure Ninja Build System Installation in CD Workflow
  .github/workflows/cd.yml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: docs/.*
  pytest: any of: \.py$
